In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('CVD_cleaned.csv')

In [2]:
data.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [3]:
data.describe()

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
count,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000
mean,170.615249,83.588655,28.626211,5.096366,29.835200,15.110441,6.296616
std,10.658026,21.343210,6.522323,8.199763,24.875735,14.926238,8.582954
min,91.000000,24.950000,12.020000,0.000000,0.000000,0.000000,0.000000
25%,163.000000,68.040000,24.210000,0.000000,12.000000,4.000000,2.000000
50%,170.000000,81.650000,27.440000,1.000000,30.000000,12.000000,4.000000
75%,178.000000,95.250000,31.850000,6.000000,30.000000,20.000000,8.000000
max,241.000000,293.020000,99.330000,30.000000,120.000000,128.000000,128.000000

In [4]:
data.isna().sum().sum()

0

In [5]:
from sklearn.preprocessing import OrdinalEncoder

numeric_columns = ['Height_(cm)', 'Weight_(kg)', 'BMI',  'Alcohol_Consumption', 'Fruit_Consumption', 'Green_Vegetables_Consumption', 'FriedPotato_Consumption']
factor_colums = ["General_Health","Checkup","Exercise", "Heart_Disease","Depression","Diabetes","Arthritis", "Sex","Age_Category", "Smoking_History"]
for col in factor_colums:
    print(data[col].unique())

['Poor' 'Very Good' 'Good' 'Fair' 'Excellent']
['Within the past 2 years' 'Within the past year' '5 or more years ago'
 'Within the past 5 years' 'Never']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes' 'No, pre-diabetes or borderline diabetes'
 'Yes, but female told only during pregnancy']
['Yes' 'No']
['Female' 'Male']
['70-74' '60-64' '75-79' '80+' '65-69' '50-54' '45-49' '18-24' '30-34'
 '55-59' '35-39' '40-44' '25-29']
['Yes' 'No']

In [6]:
general_health_encoder = OrdinalEncoder(categories=[['Poor','Fair','Good', 'Very Good','Excellent']], dtype=np.int8)

data["General_Health"] = general_health_encoder.fit_transform(data["General_Health"].values.reshape(-1,1))

In [7]:
data.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,0,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,3,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,3,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,0,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,2,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [8]:
checkup_encoder = OrdinalEncoder(categories=[['Never','5 or more years ago','Within the past 5 years','Within the past 2 years', 'Within the past year'   ]], dtype=np.int8)

data["Checkup"] = checkup_encoder.fit_transform(data["Checkup"].values.reshape(-1,1))
data.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,0,3,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,3,4,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,3,4,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,0,4,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,2,4,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [9]:
no_yes_encoder = OrdinalEncoder(categories=[['No','Yes' ]], dtype=np.int8)

data["Exercise"] = no_yes_encoder.fit_transform(data["Exercise"].values.reshape(-1,1))
data["Heart_Disease"] = no_yes_encoder.transform(data["Heart_Disease"].values.reshape(-1,1))
data["Depression"] = no_yes_encoder.transform(data["Depression"].values.reshape(-1,1))
data["Arthritis"] = no_yes_encoder.transform(data["Arthritis"].values.reshape(-1,1))
data["Smoking_History"] = no_yes_encoder.transform(data["Smoking_History"].values.reshape(-1,1))
data.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,0,3,0,0,No,No,0,No,1,Female,70-74,150.0,32.66,14.54,1,0.0,30.0,16.0,12.0
1,3,4,0,1,No,No,0,Yes,0,Female,70-74,165.0,77.11,28.29,0,0.0,30.0,0.0,4.0
2,3,4,1,0,No,No,0,Yes,0,Female,60-64,163.0,88.45,33.47,0,4.0,12.0,3.0,16.0
3,0,4,1,1,No,No,0,Yes,0,Male,75-79,180.0,93.44,28.73,0,0.0,30.0,30.0,8.0
4,2,4,0,0,No,No,0,No,0,Male,80+,191.0,88.45,24.37,1,0.0,8.0,4.0,0.0

In [10]:
age_encoder = OrdinalEncoder(categories=[['18-24','25-29','30-34','35-39', '40-44','45-49','50-54' , '55-59','60-64', '65-69' ,'70-74',  '75-79', '80+' ]], dtype=np.int8)

data["Age_Category"] = age_encoder.fit_transform(data["Age_Category"].values.reshape(-1,1))
data.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,0,3,0,0,No,No,0,No,1,Female,10,150.0,32.66,14.54,1,0.0,30.0,16.0,12.0
1,3,4,0,1,No,No,0,Yes,0,Female,10,165.0,77.11,28.29,0,0.0,30.0,0.0,4.0
2,3,4,1,0,No,No,0,Yes,0,Female,8,163.0,88.45,33.47,0,4.0,12.0,3.0,16.0
3,0,4,1,1,No,No,0,Yes,0,Male,11,180.0,93.44,28.73,0,0.0,30.0,30.0,8.0
4,2,4,0,0,No,No,0,No,0,Male,12,191.0,88.45,24.37,1,0.0,8.0,4.0,0.0

In [11]:
sex_encoder = OrdinalEncoder(categories=[['Female', 'Male']], dtype=np.int8)

data["Sex"] = sex_encoder.fit_transform(data["Sex"].values.reshape(-1,1))

In [12]:
data = data.loc[data['Diabetes'] != 'Yes, but female told only during pregnancy']


diabetes_encoder = OrdinalEncoder(categories=[['No',  'No, pre-diabetes or borderline diabetes', 'Yes']], dtype=np.int8)
data['Diabetes'] = diabetes_encoder.fit_transform(data['Diabetes'].values.reshape(-1,1))

In [13]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
data['Skin_Cancer'] = label_encoder.fit_transform(data['Skin_Cancer'].values.reshape(-1,1))
data['Other_Cancer'] = label_encoder.transform(data['Other_Cancer'].values.reshape(-1,1))
data.head()

C:\Users\alpan\anaconda3\envs\cancer\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\alpan\anaconda3\envs\cancer\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,0,3,0,0,0,0,0,0,1,0,10,150.0,32.66,14.54,1,0.0,30.0,16.0,12.0
1,3,4,0,1,0,0,0,2,0,0,10,165.0,77.11,28.29,0,0.0,30.0,0.0,4.0
2,3,4,1,0,0,0,0,2,0,0,8,163.0,88.45,33.47,0,4.0,12.0,3.0,16.0
3,0,4,1,1,0,0,0,2,0,1,11,180.0,93.44,28.73,0,0.0,30.0,30.0,8.0
4,2,4,0,0,0,0,0,0,0,1,12,191.0,88.45,24.37,1,0.0,8.0,4.0,0.0

In [14]:
data.columns

Index(['General_Health', 'Checkup', 'Exercise', 'Heart_Disease', 'Skin_Cancer',
       'Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex',
       'Age_Category', 'Height_(cm)', 'Weight_(kg)', 'BMI', 'Smoking_History',
       'Alcohol_Consumption', 'Fruit_Consumption',
       'Green_Vegetables_Consumption', 'FriedPotato_Consumption'],
      dtype='object')

In [15]:
from sklearn.model_selection import train_test_split

features = ['General_Health', 'Checkup', 'Exercise', 'Heart_Disease',
            'Depression', 'Diabetes', 'Arthritis', 'Sex',
             'Age_Category', 'Height_(cm)', 'Weight_(kg)', 'BMI', 'Smoking_History',
             'Alcohol_Consumption', 'Fruit_Consumption',
             'Green_Vegetables_Consumption', 'FriedPotato_Consumption']
labels = [ 'Skin_Cancer',
           'Other_Cancer']

X_train, X_test,y_train,y_test = train_test_split(data[features], data[labels],test_size=0.2, random_state= 100)

In [16]:
from sklearn.preprocessing import  MinMaxScaler

scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
pd.DataFrame(X_train, columns=features).to_csv("data/X_train.csv", index=False)
pd.DataFrame(X_test, columns=features).to_csv("data/X_test.csv", index=False)

In [18]:
y_train.to_csv("data/y_train.csv",index=False)
y_test.to_csv("data/y_test.csv",index=False)